/* COMMON */
body{
    font-family: 'Inter', sans-serif;
}

a{
    color: #2286fd;
}
a:hover{
    text-decoration: none;
}

.small-wrapper{
    max-width: 750px;
    margin: 0 auto;
}

.bg-gray{
    background-color: #f3f5f9;
}
.bg-blue{
    background: rgb(2,32,154);
    background: linear-gradient(0deg, rgba(2,32,154,1) 0%, rgba(3,70,197,1) 100%);
    color: #fff;
}

.section_padd{
    padding: 40px 0;
}

/* Proprietà titoli sezioni */
.section_title{
    text-align: center;
}
.section_title h2{
    color: #031b4e;
}

h4{
    color: #031b4e;
    font-size: 17px;
    padding-top: 5px;
}

/* Proprietà testi */
.gray-text{
    color: #5c6a88;
}
.small-text{
    font-size: 13px;
    color: #75809a;
}

/* Slider */
.slider{
    margin-top: 40px;
}

#use .slider img,
#reviews .slider .slider-content{
    width: 50%;
    min-width: 300px;
    max-width: 600px;
}

.slider .slider-box{
    position: relative;
    margin-bottom: 20px;
}
.slider .arrow-left,
.slider .arrow-right{
    position: absolute;
    font-size: 25px;
    top: 50%;
    transform: translate(0, -50%);
}
.slider .arrow-left{
    left: 22%;
}
.slider .arrow-right{
    left: 77%;
}

.slider .link-circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    padding-right: 5px;
    border-radius: 50%;
    border: 1px solid #056aff;
}
.slider .link-circle.active{
    background-color: #056aff;
}
/* END COMMON */

/* HEADER */
.header_nav{
    padding: 15px 0;
}
/* Logo */
.header_nav .logo img{
    height: 30px;
}

/* Nav */
.header_nav nav{
    text-align: right;
}

.header_nav .burger-toggle{
    color: #2286fd;
    font-size: 20px;
    padding-top: 4px;
}

.header_nav .menu{
    margin: 0;
}

.header_nav .menu a:not(.btn){
    color: black;
}
.header_nav .menu a:hover{
    color: #2286fd;
}

.header_nav .menu .signup-btn{
    border: 1px solid #2286fd;
}
.header_nav .menu .signup-btn:hover{
    background-color: #2286fd;
    color: #fff;
}

.header_nav .menu i{
    font-size: 12px;
}
.header_nav .menu a,
.header_nav .menu i{
    vertical-align: middle;
}

.header_nav .menu-center{
    padding-top: 7px;
}
.header_nav .menu-right{
    padding-top: 2px;
}

/* Media query fixed nav */
@media screen and (min-width: 992px) {
    .header_nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1;
    }
    .jumbotron{
        margin-top: 66px;
    }
}
/* END HEADER */

/* MAIN */
/* Jumbotron */
.jumbotron{
    background-image: url('../img/ms-jumbo.jpg');
    background-size: cover;
    margin-bottom: 0;
}

/* Teaser */
.jumbotron .teaser h1{
    color: #fff;
    font-size: 50px;
}
.jumbotron .teaser p{
    color: #bbcdff;
    font-size: 20px;
}

/* Form */
.jumbotron .form_wrapper{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

.jumbotron .form_wrapper .form_title h2,
.jumbotron .form_wrapper .form_title a{
    font-size: 20px;
}

.jumbotron #signup-form{
    padding-top: 10px;
}

.jumbotron .form_wrapper .signup-terms p{
    font-size: 12px;
    padding-top: 10px;
}
.jumbotron .form_wrapper .signup-terms p a{
    text-decoration: underline;
}

.jumbotron .form_wrapper .btn-google{
    position: relative;
}
.jumbotron .form_wrapper .google-icon{
    height: 20px;
    position: absolute;
    left: 10px;
}

/* Media query jumbotron */
@media screen and (max-width: 991px) {
    .jumbotron .teaser h1{
        font-size: 40px;
    }
    .jumbotron .teaser p{
        font-size: 18px;
    }
}

/* Section Businesses */
#businesses h3{
    color: #6f7b97;
    text-transform: uppercase;
    font-size: 20px;
}

#businesses .logo-menu li{
    display: inline-block;
    padding-right: 5px;
    width: calc( ( 100% / 6 ) - 4px );
}
#businesses .logo-menu img{
    vertical-align: middle;
    width: 100%;
}

/* Media query Businesses */
@media screen and (max-width: 768px) {
    #businesses .logo-menu li{
        width: calc( ( 100% / 2 ) - 24px );
    }
    #businesses .logo-menu li:nth-child(odd){
        margin-right: 20px;
    }
}

/* Section Process */
#process .process-menu{
    border-left: 1px solid #75809a;
    padding-left: 10px;
}
#process .process-menu li{
    padding: 8px 0;
}
#process .process-menu a{
    color: #75809a;
}

#process .process-wrapper{
    padding-top: 40px;
}

#process .col_inner{
    padding-top: 10px;
}

/* Section Use */
#use .slider p{
    font-size: 12px;
}

/* Section Features */
#features .col_inner{
    padding-top: 20px;
}

/* Section Customers */
#customers h2{
    color: #fff;
}

#customers a{
    color: #01d5d2;
}
#customers a:hover{
    color: #0069ff;
}

#customers .column_wrapper{
    margin-top: 20px;
}

#customers .row_wrapper{
    border-bottom: 1px solid #fff;
    padding: 5px 0;
}
#customers .row_wrapper:last-child{
    border-bottom: 0;
}

#customers .row_wrapper .col_name{
    padding-left: 15px;
}
#customers .row_wrapper .col_test{
    text-align: center;
}

/* Section Reviews */
#reviews .slider .slider-content{
    background-color: #fff;
    margin: 0 auto;
    padding: 50px 10px;
}
#reviews .slider .slider-content img{
    width: 90%;
    max-width: 300px;
}
#reviews .slider .slider-content p{
    padding-top: 20px;
}
#reviews .slider .slider-content .reviewer-name{
    font-size: 12px;
    padding-bottom: 30px;
}

/* Section Start */
#start h2{
    color: #fff;
    padding-bottom: 20px;
}

#start .account-btn{
    background-color: #fff;
    color: #1678ff;
}
#start .account-btn:hover{
    background-color: #e2e9f7;
}
/* END MAIN */

/* FOOTER */
/* Column Copyright */
footer{
    background-color: #031b4e;
    padding-top: 40px;
    padding-bottom: 70px;
}

footer .copyright{
    color: #8b94a9;
}
footer .copyright p{
    font-size: 12px;
    padding-top: 10px;
}

footer .copyright .menu-social li{
    display: inline-block;
    margin-right: 5px;
}
footer .copyright .menu-social li a{
    color: #8b94a9;
    font-size: 20px;
}
footer .copyright .menu-social li a:hover{
    color: #fff;
}

/* Column Links */
footer .footer-bottom h5{
    color: #fff;
    font-size: 15px;
}

footer .footer-bottom li{
    padding-bottom: 5px;
}
footer .footer-bottom a{
    color: #969eb1;
    font-size: 12px;
}
footer .footer-bottom a:hover{
    color: #fff;
}

/* Help Chat */
footer .help-chat .chat-img img{
    width: 100%;
}
footer .help-chat .chat-img{
    width: 50px;
    height: 50px;
    background-color: #056aff;
    padding: 10px 0;
    border-radius: 5px;
    position: relative;
}
footer .help-chat .chat-img::after{
    content: "2";
    font-size: 12px;
    color: #fff;
    background-color: red;
    border-radius: 50%;
    border: 3px solid #fff;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 19px;
    position: absolute;
    top: -10%;
    right: -10%;
}

footer .help-chat .chat-message{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
footer .help-chat .chat-message::after{
    content: "";
    background-color: #fff;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 94%;
    transform: rotate(45deg);
    z-index: -1;
}
footer .help-chat .chat-message p{
    font-size: 12px;
    margin: 0;
}

footer .chat-wrapper{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 30%;
    z-index: 1;
}

/* Media query chat */
@media screen and (max-width: 991px) {
    footer .chat-wrapper{
        position: fixed;
        bottom: 30px;
        left: 20px;
        width: 40%;
    }

    footer .help-chat .chat-message{
        margin-top: 15px;
    }

    footer{
        padding-bottom: 150px;
    }
}
/* END FOOTER */