/* COMMON */
body{
    font-family: 'Inter', sans-serif;
}

a{
    color: #2286fd;
}
a:hover{
    text-decoration: none;
}

.small-wrapper{
    max-width: 750px;
    margin: 0 auto;
}

.bg-gray{
    background-color: #f3f5f9;
}

.section_padd{
    padding: 40px 0;
}

/* Proprietà titoli sezioni */
.section_title{
    text-align: center;
}
.section_title h2{
    color: #031b4e;
}

h4{
    color: #031b4e;
    font-size: 17px;
    padding-top:5px
}

/* Proprietà testi */
.gray-text{
    color: #5c6a88;
}
.small-text{
    font-size: 13px;
    color: #75809a;
}
/* END COMMON */

/* HEADER */
.header_nav{
    padding: 15px 0;
}
/* Logo */
.header_nav .logo img{
    height: 30px;
}

/* Nav */
.header_nav nav{
    text-align: right;
}

.header_nav .burger-toggle{
    color: #2286fd;
    font-size: 20px;
    padding-top: 4px;
}

.header_nav .menu{
    margin: 0;
}

.header_nav .menu a:not(.btn){
    color: black;
}
.header_nav .menu a:hover{
    color: #2286fd;
}

.header_nav .menu .signup-btn{
    border: 1px solid #2286fd;
}
.header_nav .menu .signup-btn:hover{
    background-color: #2286fd;
    color: #fff;
}

.header_nav .menu i{
    font-size: 12px;
}
.header_nav .menu a,
.header_nav .menu i{
    vertical-align: middle;
}

.header_nav .menu-center{
    padding-top: 7px;
}
.header_nav .menu-right{
    padding-top: 2px;
}
/* END HEADER */

/* MAIN */
/* Jumbotron */
.jumbotron{
    background-image: url('../img/ms-jumbo.jpg');
    background-size: cover;
    margin-bottom: 0;
}

/* Teaser */
.jumbotron .teaser h1{
    color: #fff;
    font-size: 50px;
}
.jumbotron .teaser p{
    color: #bbcdff;
    font-size: 20px;
}

/* Form */
.jumbotron .form_wrapper{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

.jumbotron .form_wrapper .form_title h2,
.jumbotron .form_wrapper .form_title a{
    font-size: 20px;
}

.jumbotron #signup-form{
    padding-top: 10px;
}

.jumbotron .form_wrapper .signup-terms p{
    font-size: 12px;
    padding-top: 10px;
}
.jumbotron .form_wrapper .signup-terms p a{
    text-decoration: underline;
}

.jumbotron .form_wrapper .btn-google{
    position: relative;
}
.jumbotron .form_wrapper .google-icon{
    height: 20px;
    position: absolute;
    left: 10px;
}

/* Media query jumbotron */
@media screen and (max-width: 991px) {
    .jumbotron .teaser h1{
        font-size: 40px;
    }
    .jumbotron .teaser p{
        font-size: 18px;
    }
}

/* Section Businesses */
#businesses h3{
    color: #6f7b97;
    text-transform: uppercase;
    font-size: 20px;
}

#businesses .logo-menu li{
    display: inline-block;
    padding-right: 5px;
    width: calc( ( 100% / 6 ) - 4px );
}
#businesses .logo-menu img{
    vertical-align: middle;
    width: 100%;
}

/* Media query Businesses */
@media screen and (max-width: 768px) {
    #businesses .logo-menu li{
        width: calc( ( 100% / 2 ) - 24px );
    }
    #businesses .logo-menu li:nth-child(odd){
        margin-right: 20px;
    }
}

/* Section Process */
#process .process-menu{
    border-left: 1px solid #75809a;
    padding-left: 10px;
}
#process .process-menu li{
    padding: 8px 0;
}
#process .process-menu a{
    color: #75809a;
}

#process .process-wrapper{
    padding-top: 40px;
}

#process .col_inner{
    padding-top: 10px;
}

/* Section Use */
#use .slider{
    margin-top: 40px;
}
#use .slider img{
    width: 50%;
    min-width: 300px;
    max-width: 600px;
}

#use .slider .slider-image{
    position: relative;
}
#use .arrow-left{
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 22%;
    transform: translate(0, -50%);
}
#use .arrow-right{
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 77%;
    transform: translate(0, -50%);
}

#use .slider p{
    font-size: 12px;
    padding-top: 10px;
}

#use .slider .link-circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    padding-right: 5px;
    border-radius: 50%;
    border: 1px solid #056aff;
}
#use .slider .link-circle.active{
    background-color: #056aff;
}

/* Section Features */
#features .col_inner{
    padding-top: 20px;
}
/* END MAIN */


